body{
    background-color: bisque;
    width: 100%;
}.ulindex{
    display: flex;
    gap: 20px;
}.navbar{
    display: flex;
    gap: 30%;
    width: 100%;
    height: 100px;
    background-color: rgb(243, 241, 241);
}.navbar h1{
    color:red;
    text-decoration: underline;
}.navigation{    
    position: relative;
    bottom:10px;

}.connexion{
    height: 30px;
    justify-content: end;
}

/* FOOTER */
footer{
    position: fixed;
    bottom: 10px;
    justify-items: center;
    text-align: center;
    left:40%;
}